# Telegram
BOT_TOKEN=8629162578:AAPw6TY6b-8AbWtJBFoVcIRwlxb8H_jcJ-3k
ADMIN_TELEGRAM_IDS=730539864

# Google Gemini API (через переменные Nano Banana)
NANO_BANANA_API_KEY=AIzaSyApDkZFMS5jIHuWlhdxo3hSejFc62EBKwK
NANO_BANANA_API_URL=https://generativelanguage.googleapis.com
NANO_BANANA_MODEL=gemini-3.1-pro-image-preview

# Database
DATABASE_URL=postgresql://picgen:picgen_password@postgres:5432/picgen

# Redis
REDIS_URL=redis://redis:6379

# Payments (пока отключен)
PAYMENT_PROVIDER_TOKEN=

# App
NODE_ENV=production
LOG_LEVEL=info
BOT_USERNAME=LamAlifAiBot
